* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
/* reutilizables */
.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}
  
.vh100 {
  height: 100vh;
}

.weight {
  font-weight: 700;
}

.padding-top {
  padding-bottom: 21px;
}

/* estilos para el index */
.grad-pink {
  background: linear-gradient(rgb(80, 7, 102)20%,rgb(212, 22, 187) );
}

.img-logo {
width: 210px;
}

/* estilos para el singUp */
.body-singup {
  background-image: url('../assets/img/fondo.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-small {
  width: 70px;
}

.btn-singup {
  border: 1px solid white;
  background-color: transparent;
  align-self: flex-end;
  color: white;
}

.vh80 {
  height: 85vh;
}

/* estilos para singUp One */
.color {
  color: rgb(122, 119, 119);
}

.btn-next {
  background-color: rgb(150, 144, 144);
  color:rgb(95, 91, 91);
  width: 100%;
  padding: 18px;
  font-size: 18px;
}

.btn-next:hover , .btn-previuw:hover{
  background-color: rgb(233, 4, 164);
  color: white;
  border:none;
}

.btn-previuw {
  border-radius: 50px;
  padding: 10px;
  color: rgb(95, 92, 92);
  border: 2px rgb(77, 75, 75) solid;
  position: relative;
  top: 40px;
}

.select{
  padding: 21px;
  border: 2px rgb(77, 75, 75) solid;
}

.input{
  padding: 20px;
  border: 2px rgb(77, 75, 75) solid;
  position: relative;
  right: 5px;
}
