* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: rgb(104, 101, 101);
}
/* reutilizables */
.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}
  
.vh100 {
  height: 100vh;
}

.weight {
  font-weight: 700;
}

.padding-top {
  padding-bottom: 21px;
}

/* estilo para el boton activado */
.btn-grad {
  background: linear-gradient(rgb(131, 7, 114)10%,rgb(212, 22, 187) );
  color: white !important;
}

/* estilos para el index */
.grad-pink {
  background: linear-gradient(rgb(102, 8, 82)10%,rgb(212, 22, 187) );
}

.img-logo {
width: 210px;
}

/* estilos para el singUp */
.body-singup {
  background-image: url('../assets/img/fondo.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-small {
  width: 70px;
}

.btn-singup {
  border: 1px solid white;
  background-color: transparent;
  align-self: flex-end;
  color: white;
  padding: 21px 30px;
  font-size: 18px;
}

.vh80 {
  height: 75vh;
}

/* estilos para singUp One */

.btn-next {
  background-color: rgb(150, 144, 144);
  color:rgb(73, 72, 72);
  width: 100%;
  padding: 18px;
  font-size: 18px;
}

.btn-next:hover , .btn-previuw:hover{
  background-color: rgb(233, 4, 164);
  border:none;
}

.btn-previuw {
  border-radius: 50px;
  padding: 8px;
  color: rgb(73, 73, 73);
  border: 2px rgb(77, 75, 75) solid;
  position: relative;
  top: 45px;
}

.select{
  padding: 21px;
  border: 2px rgb(77, 75, 75) solid;
}

.input{
  padding: 20px;
  border: 2px rgb(100, 98, 98) solid;
  position: relative;
  right: 5px;
}

/* estilo de modal */
.modal-dialog {
  position: relative;
  top: 40%;
}
.modal-content{
  background-color: rgb(219, 222, 223);
  border:none;
  height: 120px;
}

/* estilos para singup-two */
.cod {
  border: none;
  border-bottom: 2px solid rgb(119, 9, 104);
  width: 15%;
}

.btn-resend {
  background-color: rgb(202, 200, 200);
  color: rgb(107, 105, 105);
  border: none;
  padding: 14px;
  font-size: 16px;
}
.container-flex {
  position: relative;
  top: 30vh;
}

/* vista registro de datos */
::placeholder{
color: rgb(203, 207, 207);
}

.color-blue {
color: blue;
}

.input-name{
  width: 50%;
  border: none;
}

.border {
  border:none;
}

.input-group-addon  {
  background-color: white;
  border:none;
}

.input-group {
  border: 2px solid rgb(211, 208, 208);
  border-radius: 7px;
}

.border-left {
  border-left: 2px solid rgb(216, 214, 214);
  padding: 10px;
}

input.left , span.left {
  margin-left: 18px;
}