<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title></title>
</head>
<body>
  <main class="color ">
    <div class="container">
      <div class="row ">
        <div class="col-xs-12 weight">
          <div>
            <a href="singup-one.html" type="button" class="btn-previuw">
              <span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span>
            </a>
            <h2 class="text-center padding-top weight">Verify phone number</h2>
          </div>
          <h4 class="text-center weight">Join now for free ride credit</h4>
          <hr>
          <div class="text-center padding-top">
            <span>LAB.<input type="text" id="input-lab" class="cod"></span>
          </div >
          <p class="text-center padding-top">Enter the code sent to +52</p>
          <div class="text-center">
            <a class="btn btn-default weight text-center btn-resend" id="resend"  >Resend Code</a>
          </div>
          <div class="container-flex ">
            <button href="singup-tree.html" type="button" class="btn btn-default btn-next weight" disabled>NEXT</button>
          </div>
        </div>
      </div>
    </div>
  </main>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../js/singup-two.js"></script>
</body>
</html>