<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title></title>
</head>
<body>
  <main>
    <div class="container">
      <div class="row ">
        <div class="col-xs-12 weight">
          <a href="singup-two.html" type="button" class="btn-previuw">
            <span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span>
          </a>
          <h2 class="text-center padding-top weight">Sing up</h2>
          <h4 class="text-center weight">Join now for free ride credit</h4>
          <hr>
          <form class="form-block">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-user"></span>
                <input id="name" type="text" class=" input-name border-left" placeholder="First name">
                <input id="last" type="text" class="input-name border-left" placeholder="Last name">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon glyphicon glyphicon-envelope" aria-hidden="true"></span>
                <input id="email" type="text" class="border border-left" placeholder="Email">
              </div><br>
              <input class="left" type="checkbox"> I agree to Lyft'ss <span class="color-blue">Terms of <br> <span class="left color-blue">Service</span> </span>
            </div>
          </form>
          <div class="container-flex ">
            <button id="btn-next" href="check.html" type="button" class="btn btn-default btn-next weight" disabled>NEXT</button>
          </div>
        </div>
      </div>
    </div>
  </main>
	<script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="../js/singup-tree.js"></script>
</body>
</html>