<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title></title>
</head>
<body>
  <main class="color">
    <div class="container">
      <div class="row ">
        <div class="col-xs-12 ">
          <div>
            <a href="singup.html" type="button" class="btn-previuw">
              <span class="glyphicon glyphicon-menu-left weight" aria-hidden="true"></span>
            </a>
            <h2 class="weight text-center padding-top">Sing Up</h2>
          </div>
          <p class="text-center">Join now for free ride credit</p>
          <hr>
          <div class="text-center padding-top">
            <select class="select">
              <option value="img src='../assets/img/mexico.jpg'">Mexico</option>
              <option value="">peru</option>
              <option value="">colombia</option>
              <option value="">EEUU</option>
            </select>
            <input class="input" id="codigo" type="text" value="">
          </div>
          <p class="text-center padding-top" id="text">We'll send a text to verify your phone</p><br>
          <input id="rr" min="100" max="999" value="999" class="hide"><span id="n_range" class="hide" ></span>
          <button type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" class="btn btn-default btn-next weight" id="btn-cod" disabled>NEXT</button>
        </div>
      </div>
    </div>
  <!-- inicio modal de  number aletori -->
    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog " role="document">
        <div class="modal-content ">
          <div class="modal-body">
            <div class="modal-Ok">
              <p class="weight">Tu codigo: LAB.<span id="result_random"></span></p>
              <div class="text-right">
                <a href="singup-two.html" type="button" class="btn btn-info weight">OK</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- fin del modal -->
  </main>
	<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="../js/singup-one.js"></script>
</body>
</html>